/* This stylesheet is used with the php5_siteCIMTemplate.php */
/*---------------------------------------------------------------------------*/



body {
	font-family: 'Lucida Grande', Verdana, sans-serif;
	background-image: url(../../Images/header_bg.gif);
	background-repeat: repeat-x;
	background-color: #FFFFFF;
	}
	
#page {
	width: 800px;
	height: auto;
	color: #FFFFFF;
	background-color: #FFFFFF;
	background-image: url(../../Images/header_bg.gif);
	background-repeat: repeat-x;
	margin: auto;
	position: relative;
	}

	
	
/* header -------------------------------------------*/
#header {
	width: 800px;
	position: absolute;
	}
	
#gcx_bar {
	width: 776px;
	position: absolute;
	top: 0px;
	left: 12px;
	z-index: 50;
	}
	
#logo {
	width: 600px;
	float: left;
	position: relative;
	left: 15px;
	top: 30px;
	}
	
	
/* main navbar --------------------------------------*/
#main_navbar {
	color: #0D1C42;
	position: absolute;
	top: 123px;
	left: 22px;
	z-index: 0;
	}
	



/* main page content begins -------------------------*/	
#container {
	width: 800px;
	background-image: url(../../Images/page_bg.jpg);
	background-repeat: repeat-y;
	position: absolute;
	top: 165px;
	}

#container tr {
	background-color: #0D1C42;
	}

	
#sidebar {
	width: 188px;
	overflow: visible;
	position: absolute;
	right: 12px;
	top: 10px;
	background-color: transparent;
	color: #FFFFFF;
	}
	
#sidebar a {
	color: #FFFFFF;
	}
	
#content {
	max-width: 758px;
	overflow: visible;
	margin: 10px 0px 10px 12px;
	padding: 10px;
	color: #FFFFFF;
	background-color: transparent;
	}
	
#content a {
	color: #FFCB05;
	}
	
/* footer begins ------------------------------------*/
#footer {
	width: 800px;
	height: 90px;
	color: #0D1C42;
	background-color: #FFFFFF;
	text-align: center;
	}
	
#footer img {
	position: relative;
	top: -5px;
	}
	
#footer p {
	position: relative;
	top: -10px;
	}


.navbar {
	font-family: 'Lucida Grande', Verdana, sans-serif;
	font-size: 12pt;
	font-style: normal;
	line-height: normal;
	font-weight: bold;
	font-variant: normal;
	text-transform: capitalize;
	text-align: right;
	vertical-align: middle;
}
.text {
	font-family: 'Lucida Grande', Verdana, sans-serif;
	font-size: 10pt;
	color: #FFFFFF;
}
.smallText {
	font-family: 'Lucida Grande', Verdana, sans-serif;
	font-size:8pt;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	color: #FFFFFF;
}
.smallBold {
	font-family: 'Lucida Grande', Verdana, sans-serif;
	font-size:8pt;
	font-style: normal;
	font-weight: bold;
	font-variant: normal;
	color: #FFFFFF;
}
.bold {
	font-family: 'Lucida Grande', Verdana, sans-serif;
	font-size: 10pt;
	font-weight: bold;
	color: #FFFFFF;
}
.notice {
	font-family: 'Lucida Grande', Verdana, sans-serif;
	font-size: 10pt;
	font-weight: bold;
	color: #FF6633;
}
.date {
	font-family: 'Lucida Grande', Verdana, sans-serif;
	font-size: 10pt;
	font-style: italic;
	font-variant: normal;
	color: #666666;

}
.example {
	font-family: 'Lucida Grande', Verdana, sans-serif;
	font-size: 10pt;
	font-style: italic;
	font-variant: normal;
	color: #666666;

}
.heading {
	font-family: 'Lucida Grande', Verdana, sans-serif;
	font-size: 26px;
	font-weight: lighter;
	color: #FFFFFF;
}
.heading2 {
	font-family: 'Lucida Grande', Verdana, sans-serif;
	font-size: 22px;
	font-weight: lighter;
	color: #FFFFFF;
	font-style: normal;

}
.heading3 {
	font-family: 'Lucida Grande', Verdana, sans-serif;
	font-size: 10pt;
	font-weight: bold;
	text-decoration: underline;
}
.category {
	font-family: 'Lucida Grande', Verdana, sans-serif;
	font-size: 10pt;
	font-weight: bold;
	color: #FFFFFF;
	text-decoration: underline;
}
.modify {
	font-family: 'Lucida Grande', Verdana, sans-serif;
	font-size: 8pt;
	color: #FFFFFF;
}
.pageTitle {
	font-family: 'Lucida Grande', Verdana, sans-serif;
	font-size: 20pt;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: capitalize;
	color: #FFFFFF;
}
.error {
	font-family: 'Lucida Grande', Verdana, sans-serif;
	font-size: 10pt;
	color: #FF0000;
	font-weight: bold;

}
.summary {
	font-family: 'Lucida Grande', Verdana, sans-serif;
	font-size: 8pt;
	color: #003366;
	text-decoration: none;
	font-weight: normal;


}
.footer {
	font-family: 'Lucida Grande', Verdana, sans-serif;
	font-size: 10pt;
	font-weight: bold;
	color: #0D1C42;
}

.badgeFirstName {font-size: xx-large}
.badgeLastName {font-size: x-large}
a.info {
	background-color:#CCCCCC;
	color:navy;
	font-family: 'Lucida Grande', Verdana, sans-serif;
	font-weight:normal;
	padding:2px;
	position:relative;
	text-decoration:none;
	z-index:24;
}
a.info:hover {
	background-color:white;
	z-index:25;
}
a.info span {
	display:none;
}
a.info:hover span {
	background-color:white;
	border:1px solid blue;
	color:blue;
	display:block;
	font-family: 'Lucida Grande', Verdana, sans-serif;
	font-size:90%;
	font-weight:normal;
	left:5px;
	padding:4px;
	position:absolute;
	text-align:left;
	top:20px;
	width:20em;
	z-index:30;
}

