/* This stylesheet is used with the php5_siteCIMTemplate.php */
/*---------------------------------------------------------------------------*/
body {
    font-family: Tahoma;
}

*{
	margin: 0;
}

#top {
	width: 800px;
	margin: auto;
	position: relative;
}

/* header -------------------------------------------*/
#header {
    width: 762px;
    height: 87px;
    position: absolute;
    background-color: #e7e7e7;
    color: #000000;
    top: 25px;
    left: 19px;
	text-align: left;
}

#gcx_bar {
    width: 756px;
    position: absolute;
    top: 0px;
    left: 23px;
    z-index: 50;
}

#c4c-logo {
	width: 326x;
	height: 87px;
	float:left;
	position:relative;
	left: 20px;
}

#logged-in {
    width: 350px;
    float: left;
    position: relative;
    left: 50px;
    text-align: right;
}

#right-header {
    float: right;
    position: relative;
    right: 0px;
}

#left-header {
    float: left;
    position: relative;
    left: 0px;
}

img.logo {
    float: left;
    position: relative;
    top: 7px;
}

img.intranet {
    float: left;
    position: relative;
    top: 40px;
    left: 15px;
}

/* main navbar --------------------------------------*/
#yellow_strip {
    background-image: url(../../Images/header-bg.png);
    background-repeat: repeat-y;
    position: absolute;
    top: 112px;
    height: 4px;
    font-weight: bold;
    font-size: 10pt;
    font-family: Tahoma;
    width: 800px;
    padding-top: 10px;
    padding-left: 35px;
	overflow: visible;
}

table.navbar {
    background-image: url(../../Images/header-bg.png);
    background-repeat: repeat-y;
    height: 36px;
    font-weight: bold;
    font-size: 10pt;
    font-family: Tahoma;
    width: 800px;
	text-align: left;
	padding-left: 35px;
	float: center;
}

/* main page content begins -------------------------*/
#container {
    width: 800px;
    background-image: url(../../Images/content-bg.png);
    background-repeat: repeat-y;
    position: absolute;
    padding: 0;
    margin: 0;
}

#sidebar {
    width: 150px;
    overflow: visible;
    float: right;
    height: auto;
    position: relative;
    right: 24px;
    top: 0px;
    background-color: #e7e7e7;
    color: #000000;
    padding: 6px;
}

#sidebar a {
    color: #16216c;
}

#content {
    max-width: 565px;
    overflow: visible;
    margin: 10px 0px 10px 20px;
    padding: 10px;
    color: #000000;
    position: relative;
}

#content a {
    color: #16216c;
    text-decoration: none;
}

#content a:hover {
    text-decoration: underline;
}

/* footer begins ------------------------------------*/
#footer {
    width: 800px;
    height: 65px;
    background-color: #16216c;
    position: relative;
    right: 3px;
}
#right-footer {
    background-image: url(../../Images/BlueRightShadow.png);
    background-repeat: repeat-y;
    float: left;
    position: relative;
	top: -2px;
	bottom: 0px;
    right: 0px;
	width: 21px;
	height: 67px;
}

#left-footer {
    background-image: url(../../Images/BlueLeftShadow.png);
    background-repeat: repeat-y;
    float: left;
    position: relative;
	top: 0px;
    left: 0px;
	width: 28px;
	height: 65px;
}
#footer-content {
    width: 751px;
    background-color: #16216c;
    position: relative;
    padding: auto;
    float: left;
	height: 65px;
}

#footer a:link, #footer a:visited, {
	color: #ffffff;
	text-decoration: none;
}

#footer a:hover {
    text-decoration: underline;
}

.footer1 {
    font-family: Tahoma;
    font-size: 10pt;
    font-weight: bold;
    color: #ffe8a7;
}

table.t1 {
    border: 0px;
    padding: 1px;
	padding-top: 5px;
    background-color: #16216c;
}

table.t1 a:link, table.t1 a:visited {
    color: #ffffff;
    text-decoration: none;
    font-family: Tahoma;
    font-size: 10pt;
    font-weight: bold;
}

table.t1 a:hover {
    text-decoration: underline;
}

td.t1 {
    border: 0px;
    padding: 8px;
    background-color: #16216c;
}

.navbar {
    color: #ffffff;
    text-decoration: none;
    font-family: Tahoma;
    font-size: 10pt;
    font-weight: bold;
    text-transform: capitalize;
    text-align: right;
    vertical-align: middle;
}

.text {
    font-family: Tahoma;
    font-size: 10pt;
    color: #000000;
}

.smalltext {
color:#000000;
font-family:Tahoma;
font-size:8pt;
font-style:normal;
font-variant:normal;
font-weight:normal;
}

.smallBold {
    font-family: Tahoma;
    font-size: 8pt;
    font-style: normal;
    font-weight: bold;
    font-variant: normal;
    color: #000000;
}

.bold {
    font-family: Tahoma;
    font-size: 10pt;
    font-weight: bold;
    color: #000000;
}

.notice {
    font-family: Tahoma;
    font-size: 10pt;
    font-weight: bold;
    color: #FF6633;
}

.date {
    font-family: Tahoma;
    font-size: 10pt;
    font-style: italic;
    font-variant: normal;
    color: #666666;
}

.example {
    font-family: Tahoma;
    font-size: 10pt;
    font-style: italic;
    font-variant: normal;
    color: #666666;
}

.heading {
    font-family: Tahoma;
    font-size: 20pt;
    font-weight: bold;
    color: #000000;
}

.heading2 {
    font-family: Tahoma;
    font-size: 16pt;
    font-weight: bold;
    color: #000000;
    font-style: normal;
}

.heading3 {
    font-family: Tahoma;
    font-size: 12pt;
    font-weight: bold;
    text-decoration: underline;
}

.heading3 {
    font-family: Tahoma;
    font-size: 12pt;
    font-weight: bold;
    text-decoration: none;
}

.category {
    font-family: Tahoma;
    font-size: 10pt;
    font-weight: bold;
    color: #000000;
    text-decoration: underline;
}

.modify {
    font-family: Tahoma;
    font-size: 8pt;
    color: #000000;
}

.pageTitle {
    font-family: Tahoma;
    font-size: 20pt;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: capitalize;
    color: #000000;
}

.error {
    font-family: Tahoma;
    font-size: 10pt;
    color: #FF0000;
    font-weight: bold;
}

.summary {
    font-family: Tahoma;
    font-size: 8pt;
    color: #003366;
    text-decoration: none;
    font-weight: normal;
}

.badgeFirstName {
    font-size: xx-large
}

.badgeLastName {
    font-size: x-large
}

a a:link {
    color: #16216c;
}

a a.info:hover {
    background-color: white;
    z-index: 25;
}

a.info span {
    display: none;
}

a.info:hover span {
    background-color: white;
    border: 1px solid blue;
    color: blue;
    display: block;
    font-family: Tahoma;
    font-size: 90%;
    font-weight: normal;
    left: 5px;
    padding: 4px;
    position: absolute;
    text-align: left;
    top: 20px;
    width: 20em;
    z-index: 30;
}

.wrapper {
    min-height: 100%;
    height: auto;
    height: 100%;
    margin: auto; 
    width: 800px;
    position: relative;
	text-align: left;
}